<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/index.css" rel="stylesheet">
    <title>Projeto com Node | express</title>
</head>
<body>
    <div class="taferas">
        <form>
            <input type="text" name="nova">
            <input type="submit" name="envia">
        </form>
        <% for( i = 0; i < tarefasLista.length; i++){%>
            <p><%= tarefasLista[i] %>
                 |<a href="/deletar/<%= i %>">X</a>
            </p>
        <% } %>
    </div>
</body>
</html>